.card-chart {
    width: 100%;
    height: 90%;
    min-height: 400px;
    min-width: 256px;
    display: block;
    padding-left: 20px;
    padding-right: 20px;
}

.graph-cursor-pointer {
    cursor: pointer;
}

.module-previous-next-controls {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding-top: 25px;
}

.module-previous-next-controls::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 2px;
    background: currentColor;
    opacity: 0.05;
    border-radius: 2px;
}

.module-previous-next-controls .module-previous-button {
    display: grid;
    grid-template-columns: auto auto;
    font-size: 0.9rem;
    gap: 0.5rem 0.75rem;
    color: black;
    text-decoration: none;
}

.module-previous-next-controls .module-previous-button span {
    margin: 0;
    padding: 0;
}

.module-previous-next-controls .module-previous-button span:last-of-type {
    opacity: 0.5;
    margin-top: -0.3rem;
}

.module-previous-next-controls .module-previous-button svg {
    width: 1.1rem;
    height: 1.1rem;
}

.module-previous-next-controls .module-previous-button {
    justify-items: flex-start;
}

.module-previous-next-controls .module-previous-button span:last-of-type {
    grid-column: 2;
}

.module-previous-next-controls .module-previous-button:hover svg {
    transform: translateX(-2px);
}

.distribution {
    display: inline-block; 
    color: transparent;
}

.distribution:hover {
    filter: brightness(110%);
}

tfoot {
    font-weight: bold;
}

.log-output {
    font-size: var(--font-size-sm);
}